@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }

/**/
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
body {
/*	background:#fff;*/
	font-size:12px;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	/*-webkit-overflow-scrolling: touch;*/
	font-family: 'Raleway', sans-serif;
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */
#wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;}

header { margin: 0; padding: 0; position: fixed; top:0; width: 100%; z-index: 11;}
.header-div {padding:20px 0 10px 0;}

.quote-blk { text-align: right; margin: 5px 0 0 0; padding: 0; }
.quote-blk .getquote-link{  margin: 0; padding: 12px 30px; border: 1px solid #fff; color:#fff; font-size: 14px; text-transform: uppercase; }
.quote-blk .getquote-link:hover {background: #199bd7; color:#fff; border: 1px solid #199bd7;}

.nav-div { margin: 0 0 0 0; padding: 0; position: relative; display: inline-block}
.nav { margin: 10px 0 0 0;}
.nav li { margin: 0 20px}
.nav li a{ color:#fff; font-size: 16px; font-weight:600; margin: 0; padding: 0 0 10px 0; font-weight: 500;}
.nav li a:hover { color:#199bd7;}
.page-template-default .nav li a:hover{ color:#06163a;}
.nav li.active a { border-bottom: 3px solid #199bd7; }









.quote-blk { margin: 10px 0 0 0; padding: 0; position: relative; display: inline-block; text-align: right; float: right;}

.banner-div { margin: 0; padding: 0; position: relative; z-index: 10;}
.banner-div img { max-width: 100%; height: auto; width: 100%;}
.jwg_slider_module .slides > .slide { position: relative;}
.banner-slide { margin: 0; padding: 0; position: relative; z-index: 10;}
.banner-caption { margin: 0 auto; padding: 0; position: absolute; z-index: 12; top:30%; text-align: center; width: 82%; left: 9%;}
.banner-caption h2{ margin: 0 0 20px 0; padding: 0; color:#fff; font-weight: 700; font-size: 60px;}
.banner-caption h3{ margin: 0 400px 40px 400px; padding: 0; color:#fff; font-weight:500; font-size: 20px; line-height: 32px;}
.seedetail-link { margin: 0 40px 0 0; padding: 10px 30px; border-radius: 100px; background: #fff; color:#06163a; font-size:14px; display: inline-block; cursor: pointer; border: 2px solid #fff; font-weight:700; }
.seedetail-link:hover { background: #06163a; color:#fff; border: 2px solid #06163a; }
.quote-link { margin: 0; padding: 10px 30px; border-radius: 100px; border: 2px solid #fff; color:#fff; font-size:14px; display: inline-block; cursor: pointer;}
.quote-link:hover { background: #fff; color:#06163a;}
.tabbed_nav {vertical-align: middle;}
.tabbed_nav span { vertical-align: middle; display: inline-block;}
.tabbed_nav span img{ width: 40px; display: inline-block; margin: 0 5px 0 0; vertical-align: middle;}
.tabbed_nav .txt{margin: 0; padding: 0; color:#fff; font-weight:500; font-size: 18px; }
.jwg_slider_module .tabbed_navigation > ul li { margin: 0 50px!important; padding: 0 0 10px 0;  border-bottom:4px solid transparent; opacity: 1!important;}
.jwg_slider_module .tabbed_navigation > ul li.current, .jwg_slider_module .tabbed_navigation > ul li:hover { border-bottom:4px solid #1e9dd8;}
.jwg_slider_module .tabbed_navigation > ul li.current { border-bottom:4px solid #1e9dd8;}
.jwg_slider_module .tabbed_navigation { bottom:-6px!important;}

.jwg_slider_module .tabbed_navigation { z-index: 111;}

.middle-container { margin: 0; padding: 0; position: relative;}

.intro-section { margin: 70px 0 180px 0; padding: 0; position: relative;}
.intro-section .intro-blk-1 { margin: 50px 0 0 0; padding: 0; }
.intro-section .intro-blk-1 h3 { margin: 0 0 30px 0; padding: 0; color:#06163a; font-size: 50px; font-weight: 600; }
.intro-section p{ margin: 0 0 20px 0; padding: 0; color:#333; font-size: 14px; line-height: 24px; }
.readmore-blue-link { font-size: 15px; color:#1591cb; border: 1px solid #1591cb; border-radius: 100px; display: inline-block; margin: 0; padding:10px 30px; font-weight:600;}
.readmore-blue-link:hover{ background: #199bd7; color:#fff;}
.intro-section .intro-img { margin: 0 0 0 30px; padding: 0; position: relative; display: inline-block; width:65%; float:left; }
.intro-section .intro-img img{width: 100%;}

.intro-section .values-div {margin: 0; padding: 20px; position: absolute; background: #f3fafd; border: 15px solid #fff;  display: inline-block; width: 40%; float: right; top:100px; right:0px;}
.intro-section .values-div h3 { margin: 0 0 30px 0; padding: 0; color:#444444; font-size:24px; font-weight: 600; }
.intro-section .values-div ul { margin: 0 0 30px 0; padding: 0;}
.intro-section .values-div ul li { margin: 0 0 20px 0;  position: relative;     padding: 0 0 0 25px; color:#444444; font-size: 14px; line-height: 20px;}
.intro-section .values-div ul li:before{ content: "\f00c"; font-family: 'FontAwesome'; font-size: 16px; font-weight: normal; position: absolute; left:0;}


.readmore-dark-link{ font-size: 15px; color:#06163a; border: 1px solid #06163a; border-radius: 100px; display: inline-block; margin: 0; padding:10px 30px;}
.readmore-dark-link:hover { background: #06163a; color:#fff;}

.carry-trust-section { margin: 100px 0; padding: 0; position: relative; background: url(../images/carry-trust-bg.jpg) no-repeat top center;}
.carry-trust-section .carry-trust-div{ margin: 0; padding: 0; position: relative;}
.carry-trust-section .carry-trust-div .blk-1{ margin: 50px 0; padding: 0;}
.carry-trust-section .carry-trust-div .blk-1 h3{ margin: 0 0 40px 0 ; padding: 0 0 20px 0; color:#199bd7; font-size: 50px; font-weight: 600; position: relative;}
.carry-trust-section .carry-trust-div .blk-1 h3:after { content:' '; background: #fff; height: 4px; width:20%; position: absolute; margin: 20px 0 0 0; display: block;}
.carry-trust-section .carry-trust-div .blk-1 p{ margin: 0; padding: 0 400px 0 0; color:#fff; font-size: 18px; line-height: 24px;}

.carry-trust-section .carry-trust-div .blk-2{ margin: 0; padding: 20px; background: #fff; position: relative; box-shadow: 0 5px 5px #ddd}
.carry-trust-section .carry-trust-div .blk-2 p{ margin: 0 0 20px 0; padding: 0; color:#222; font-size: 14px; line-height: 24px;}
.carry-trust-section .carry-trust-div .blk-2 .carry-trust-blk{ margin: 0; padding: 0; position: relative; z-index: 5; width:60%;}
.carry-trust-section .contact-blk-div{ margin: 0; padding: 20px; position: absolute; right:20px; top:20px; z-index: 10; width: 30%; border: 1px solid #a6c4d0; border-left-width: 3px}
.carry-trust-section .contact-blk-div .icon { margin: 0 0 20px 0; display: block;}
.carry-trust-section .contact-blk-div .question-mark {  width: 30px; height: 30px; display: block;
	background-color:#a6c4d0;
    -webkit-mask-image: url(../images/question.svg);
    mask-image: url(../images/question.svg);
}
.carry-trust-section .contact-blk-div h4 { margin: 0 150px 20px 0 ; padding: 0 0 0px 0; color:#50a5c7; font-size: 20px; font-weight: normal;}
.carry-trust-section .contact-blk-div p {margin: 0; padding: 0; color:#666; font-size: 14px; line-height: 24px;}

.trust-bg-img{ background: url(../images/trust-img.png) no-repeat bottom right; width: 446px; height:236px; background-size:cover; margin: 0; padding: 0; position: absolute; bottom:0; right:0; display: block;}


.blk-title{ margin: 0 0 40px 0 ; padding: 0 0 20px 0; color:#06163a; font-size: 50px; font-weight: 400; position: relative;}
.blk-title:after { content:' '; background: #199bd7; height: 5px; width:20%; position: absolute; margin: 20px 0 0 0; display: block;}


.our-client-section { margin: 0; padding: 0; position: relative;}
.our-client-section .client-blk-div { margin: 100px -15px 50px -15px; padding: 0;}
.our-client-section .client-blk-div .count-blk { margin: 0 0 40px 0; padding: 0;}
.our-client-section .client-blk-div .count-blk .icon { margin: 0 0 20px 0; padding: 0; display: block;}
.our-client-section .client-blk-div .count-blk .icon img { }
.our-client-section .client-blk-div .count-blk h4 { margin: 0 0 20px 0; padding: 0; color:#199bd7; font-size: 40px;}
.our-client-section .client-blk-div .count-blk h5 { margin: 0 0 10px 0; padding: 0; color:#444; font-size: 16px; font-weight: 600;}
.our-client-section .client-blk-div .count-blk p { margin: 0; padding: 0; color:#666; font-size: 14px;}

.our-client-section .client-list-div { margin: 50px -15px 50px -15px; padding: 0;}
.our-client-section .client-list-blk { margin: 0; padding: 0;}
.our-client-section .client-list-blk img{ width: 110px;}

.what-different-section{ margin: 0; padding: 100px 0; position: relative; background: #e0ecf1;}
.what-different-section .blk-title { margin-top: 80px;}

.what-different-section .testimonails-div{ margin: 0; padding: 0; position: relative;}
.what-different-section .testimonails-div .quote-text{ margin: 0; padding: 0;}
.what-different-section .testimonails-div .quote-text .quote-symbol{ margin: 0 0 20px 0; padding: 0; background: url(../images/quote.png) no-repeat; width: 54px; height: 48px; display: block; }
.what-different-section .testimonails-div .quote-text .quote-summary{ margin: 0; padding: 0; color:#374461; font-size: 14px; line-height: 24px;}

.what-different-section .what-differ-div{ margin: 70px 0 0 0; padding: 0; position: relative;}
.what-different-section .what-differ-div .differ-list-blk{ margin: 0; padding: 0; position: relative;}
.what-different-section .what-differ-div .differ-list-blk .icon { margin: 0 0 20px 0; padding: 0; display: block;}
.what-different-section .what-differ-div .differ-list-blk .icon img { }
.what-different-section .what-differ-div .differ-list-blk h5 { margin: 0 0 10px 0; padding: 0 0 0px 0; color: #374461; font-size: 21px; font-weight: 600; min-height: 48px; max-height: 50px; overflow: hidden; }
.what-different-section .what-differ-div .differ-list-blk p {margin: 0; padding: 0; color:#666; font-size: 14px; line-height: 24px;}

.latest-news-section{ margin: 50px 0; padding: 0; position: relative;}
.latest-news-section .latest-news-blk-div{ margin: 50px 0; padding: 0; position: relative;}
.latest-news-section .latest-news-blk-div .news-blk{ margin: 0; padding: 0;}
.latest-news-section .latest-news-blk-div .news-blk .thumb{ margin: 0 0 20px 0; padding: 0; position: relative; overflow: hidden;}
.latest-news-section .latest-news-blk-div .news-blk .thumb img { width: 100%; transition: all 1s ease-out;}
.latest-news-section .latest-news-blk-div .news-blk .thumb a:hover img{-webkit-transform: scale(1.04); 	transform: scale(1.04);}
.latest-news-section .latest-news-blk-div .news-blk h5{ margin: 0 0 10px 0; padding: 0; color:#666; font-size: 14px;}
.latest-news-section .latest-news-blk-div .news-blk h5 a{ color: #666; }
.latest-news-section .latest-news-blk-div .news-blk .desc{ margin: 0; padding: 0;color:#666; }
.latest-news-section .latest-news-blk-div .news-blk .desc h4{ margin: 0 0 10px 0; padding: 0; line-height: normal;min-height: 58px; }
.latest-news-section .latest-news-blk-div .news-blk .desc h4 a{ color:#1e9dd8; font-size: 16px;line-height: normal;}
.latest-news-section .latest-news-blk-div .news-blk .desc h4 a:hover { color:#000;}
.latest-news-section .latest-news-blk-div .news-blk .desc p{ margin: 0 0 20px 0; padding: 0;color:#666; font-size: 14px;}
.latest-news-section .latest-news-blk-div .news-blk .read-link{ margin: 0; padding: 0 0 5px 0; color:#666; font-size: 14px; text-transform: uppercase; border-bottom:1px solid #666; display: inline-block;}
.latest-news-section .latest-news-blk-div .news-blk .read-link:hover{ color:#1e9dd8; border-bottom:0}

.footer-div { margin: 0; padding: 40px 0 0 0; position: relative; background: #f8f8f8; border-top:1px solid #ddd;}
.footer-div .footer-top { margin: 0; padding: 0; position: relative; width: 100%;}
.footer-div .footer-logo-div{ margin: 0; padding: 0;}

.footer-div .footer-call{ margin: 0 0px 0 0; padding: 0; display: inline-block;width: 50%;float: left; }
.footer-div .footer-location{ margin: 0; padding: 0; display: inline-block;width: 50%;float: left; }
.footer-div .footer-call h4, .footer-div .footer-location h4{ margin: 0; padding: 0; color:#666; font-size: 14px; font-weight: 700;}
.footer-div .footer-call p, .footer-div .footer-location p{ margin: 0; padding: 0; color:#666; font-size: 14px; }

.footer-div .footer-bottom { margin: 30px 0 0 0; padding: 30px 0 10px 0; width: 100%; border-top:1px solid #eee;}
.footer-div .footer-ul { margin: 0; padding: 0; }
.footer-div .footer-ul li { margin: 0 0 20px 0; padding: 0; color:#666; font-size: 14px;}
.footer-div .footer-ul li a { margin: 0; padding: 0; color:#666; font-size: 14px;}

.footer-div .footer-copy { margin: 20px 0; padding: 20px 0 0 0; width: 100%; color:#666; font-size: 13px; border-top:1px solid #eee; }
.footer-div .footer-copy .txt { margin: 0; padding: 0; color:#666; font-size: 13px;}
.footer-div .footer-copy .txt a{ color:#666;}
.footer-div .footer-copy .txt a:hover { color:#199bd7;}
.footer-div .footer-copy .footer-social { margin: 0 0 0 50px; padding: 0; display: inline-block;}
.footer-div .footer-copy .footer-social a { margin: 0 0 0 10px; padding: 0; color:#222; font-size: 14px;}
.footer-div .footer-copy .footer-social a:hover{ color:#199bd7;}


.fixed-header { background: #fff; box-shadow: 0 0 10px 0 #ddd; padding: 10px 0;}
.fixed-header .nav li a { color:#666;}
.fixed-header .nav li a:hover { color:#199bd7;}
.fixed-header .nav li a.active { color:#199bd7;}
.jwg_slider_module { height: 700px}

.desktop-hidden { display: none;}
.nav-m-bar { z-index: 1000;}
.closebtn{ display: none;}
.fixed-header .m-hidden { display: none;}
.fixed-logo-show{ display: block;}

.fixed-header .quote-blk .getquote-link { color:#199bd7;  border: 1px solid #199bd7; }
.fixed-header .quote-blk .getquote-link:hover { color:#fff;  border: 1px solid #199bd7; }

/* inner page start */

.sub-page-banner-div { margin: 0; padding: 0; position: relative;}
.sub-page-banner-div .sub-page-banner{ margin: 0; padding: 0; position: relative; background-image: url('../images/about-bg1.jpg' );
	background-repeat: no-repeat;	background-size: cover;	background-attachment: fixed; height: 200px; background-color:#112758;
}
.sub-page-banner-div .page-title{ margin: 120px 0 0 0; padding: 0; position: relative; color:#fff; font-size: 32px; font-weight: 500;}
.sub-page-banner-div .page-title .title-bdr { background: #fff; height: 3px; position: relative; width: 100px;margin: 15px 0 0 0;}

.about-section { margin: 100px 0; padding: 0; position: relative;}
.about-section h2{ margin: 0 0 20px 0; padding: 0; color:#222; font-size: 32px; line-height: 42px;}
.about-section h4{ margin: 0 0 20px 0; padding: 0; color:#222; font-size: 16px; line-height: 28px;}

.vision-mission-section { margin: 100px 0; padding: 100px 0; position: relative; background: #f9f9f9;}
.vision-mission-section .vision-mission-div{ margin: 0; padding: 0; position: relative;}

.vision-mission-section .vision-mission-blk{ margin: 0; padding: 0; position: relative;}
.vision-mission-section .vision-mission-blk .number-div{ margin: 0; padding: 50px 0;background-repeat: no-repeat;background-position: center center;	background-attachment: scroll;
	background-size: contain; height: 250px;}

.vision-mission-section .vision-mission-blk .number-div.one { background-image: url(../images/icons/1.svg);}
.vision-mission-section .vision-mission-blk .number-div.two { background-image: url(../images/icons/2.svg);}
.vision-mission-section .vision-mission-blk .number-div.three { background-image: url(../images/icons/3.svg);}
.vision-mission-section .vision-mission-blk h4{ margin: 0 0 10px 0; padding: 0; text-align: center; color:#ff3514; font-size:24px;}
.vision-mission-section .vision-mission-blk p{ margin: 0; padding: 0;text-align: center; color:#222; font-size:13px; line-height: 20px;}


.services-section { margin: 100px 0; padding: 100px 0; position: relative; background: #f1fbff;}
.services-section .services-div{ margin: 0; padding: 0; position: relative;}

.services-section .services-blk{ margin: 0; padding: 0; position: relative; background: #fff; box-shadow: 0 5px 30px 0 rgba(0,0,0,.05);}
.services-section .services-blk .icon-txt-blk { margin: 0;padding: 20px; position: relative; text-align: center;}
.services-section .services-blk .icons { margin: 0 auto; padding: 0; width: 60px; display: block; background-size:cover; vertical-align: middle; text-align: center;fill:#ff3a22; color:#ff3a22;
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: #ff3a22;
}
.services-section .services-blk .icons.icon-1{ -webkit-mask: url(../images/icons/truck.svg) no-repeat 100% 100%;	mask: url(../images/icons/truck.svg) no-repeat 100% 100%; height: 60px; }
.services-section .services-blk .icons.icon-2{ -webkit-mask: url(../images/icons/garbage.svg) no-repeat 100% 100%;	mask: url(../images/icons/garbage.svg) no-repeat 100% 100%; height: 55px;width:55px;margin-bottom: 10px; }
.services-section .services-blk .icons.icon-3{ -webkit-mask: url(../images/icons/shipped.svg) no-repeat 100% 100%;	mask: url(../images/icons/shipped.svg) no-repeat 100% 100%; height: 60px; }
.services-section .services-blk .icons.icon-4{ -webkit-mask: url(../images/icons/warehouse.svg) no-repeat 100% 100%;	mask: url(../images/icons/warehouse.svg) no-repeat 100% 100%;     height: 55px;margin-bottom: 10px; }
.services-section .services-blk .txt{ margin: 5px 0 0 0; padding: 0;color:#222; font-size:18px; line-height: 20px; vertical-align: middle; display: block;}



/* inner page end */

/* latest news */

.grid-col4{ margin: 0 0 40px 0;padding: 0;min-height:520px!important;  }
.w-100{ width: 100%; }

.latest-news-details-div{ padding: 50px 0;margin: 0; }
.latest-news-details-div .news-blk-div{ padding: 0px 0px;margin: 0; }
.latest-news-details-div .desc-div{ padding: 15px 0px 10px 0;margin: 0; }
.latest-news-details-div .desc-div h5 { margin: 0 0 10px 0;padding: 0;color: #666;font-size: 14px; }
.desc-div h4 a { color: #1e9dd8;font-size: 18px;line-height: normal;}
.desc-div p { margin: 0px 0 10px 0;padding: 0;color: #666;font-size: 14px;}
.news-details-div{ padding: 10px 0;margin: 0; }
.details-news-div{ padding: 10px 10px;margin: 0; }

.latest-posts-div{ padding: 0;margin: 0;position: relative; }
.latest-posts-div h6{ padding:0 0 7px 0;margin: 0;font-size: 16px;text-transform: uppercase;letter-spacing: 0.5px; }
.title-border1{ background: #1e9dd8;height: 3px;position: relative;width: 70px;margin: 0px 0 5px 0; }

.box-listing1{ padding: 10px 0;margin: 0;position: relative; }
.box-listing1 .rowbox { padding: 10px 0 0 0; margin: 0; }
.box-listing1 .rowbox h3{ padding: 10px 0;margin: 0;font-size: 14px;line-height: 18px; }

.search-div{ padding:0px 0 10px 0;margin: 0; }
.search-div .input1 { color: #000;outline: none;border: none;padding: 5px 0;width: 100%;font-size: 14px;letter-spacing: 0.5px;border-bottom: 1px solid #ddd;padding: 10px 10px;border-radius: 0px;margin: 0 0 20px 0;border: 1px solid #ddd;height: 38px;}
.search-div .input1:hover ,.search-div .input1:focus { color: #000;outline: none;box-shadow: none!important;border-color:#ddd;  }
.btn-search { border: none;font-size: 14px!important;position: absolute;right: 0;padding: 0 12px;top: 0;height: 38px;outline: none!important;background: #112758;color: #fff;}
.btn-search:hover,.btn-search:focus{ outline: none!important; }
.form-box1 { position: relative;margin: 20px 0 0 0;display: flex; }

/* End of latest news */

/* contact us */

.contact_section {   margin: 0;padding: 0;position: relative; }
.contact_div {    margin: 0;padding: 80px 0 0px 0;position: relative; }
.contect-form-div .form-group {   margin-bottom: 15px; }
.contect-form-div label { padding: 10px 0;margin: 0;color: #222;font-weight: 400;font-size: 14px;letter-spacing: 1px;text-transform: capitalize; }
.contect-form-div .form-control { border-color: #e9e9e9;-webkit-box-shadow: none;box-shadow: none;outline: none;height: auto;line-height: 26px;margin-bottom: 20px;border-radius: 0px;box-shadow: none; }
.contect-form-div .form-control:hover,.contect-form-div .form-control:focus{ box-shadow: none;border: 1px solid #ddd; }
.contect-form-div .post-comment-btn { font-size: 15px;color: #fff;border: 1px solid #199bd7;background-color: #199bd7;border-radius: 100px;display: inline-block;margin: 0;padding: 10px 30px 8px 30px;text-transform: uppercase; }
.contect-form-div .post-comment-btn:hover {border: 1px solid #112758;background-color: #112758;}

.contect-form-div{ padding: 0;margin: 0 0 60px 0;width: 100%; }
.map-div { padding: 0;margin: 0;width: 100%;height: 100%;display: flex; }
.iframe-map{ padding: 0;margin: 0;width: 100%;height: 400px; }

/* End of contact us */

.sitemap-section { margin:40px 0 0 0; padding:0; position:relative;}
.sitemap-section .wsp-pages-title{display:none}

.sitemap-section ul{ clear:both; margin:0 0 0 0px; padding:0; position:relative; list-style:none;}
.sitemap-section ul li{margin:10px; padding:0; position:relative; float: left;  width: 48%;display:inline-block;  line-height: 24px;}
.sitemap-section ul li a{ color:#112758; background:#f7f7f7; display:block; padding:10px;}
.sitemap-section ul li a:hover{ color:#fff; background:#112758;}

.footer-ul .active a { color:#199bd7!important;}


/*  add by hasmat  */

.search-div{ padding: 0px 0 30px 0; }
form.search-form .search-new{ margin-bottom: 0px; }
.search-form .btn-search-new { margin-top: -38px; }

.hr1{
	position: absolute;
	bottom: -50px;
	z-index: 11111;
	height: 1px;
	width: 100%;
	clear: both;
	left: 0;
}

/*  End by hasmat  */




@media only screen and (max-width: 767px){
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.container { width:100% !important;}
	.canvas { margin:0!important; padding:0!important;}

	header { position: relative;}
	.desktop-hidden { display: block;}
	.m-hidden { display: none;}


	.jwg_slider_module { height: 150px; min-height: 150px!important;}

	.intro-section { margin-top: 0px;}

	.intro-section .intro-img { margin: 20px 0; width: 100%;}
	.intro-section .values-div{ margin: 20px 0; width: 100%; top:0;position: relative;}
	.carry-trust-section .carry-trust-div .blk-1 p { padding:0;}
	.carry-trust-section .carry-trust-div .blk-2 .carry-trust-blk { width: 100%;}
	.carry-trust-section .contact-blk-div { width: 100%; position: relative;top: 0; right: 0;margin: 20px 0;background: #fff;}
	.trust-bg-img { position: relative; background-position: left; max-width: 100%; }

	.our-client-section .client-list-blk { text-align: center; margin: 0 0 40px 0;}
	.what-different-section { padding-top: 0px;}
	.latest-news-section .latest-news-blk-div .news-blk { margin-bottom: 20px;}
	.footer-div .footer-call { margin: 20px 0; line-height: 24px;width: 100%; }
	.footer-div .footer-ul { margin-bottom: 40px;}
	.footer-div .footer-copy .txt { text-align: center; display: block; margin: 0 0 10px 0;}
	.footer-div .footer-copy .footer-social{ text-align: center; display: block; margin: 10px 0;}
	.jwg_slider_module .tabbed_navigation { bottom:0!important; height: 45px;}
	.tabbed_nav .txt { display: none;}
	.jwg_slider_module .tabbed_navigation > ul li { margin: 0 20px!important;}
	.banner-caption { display: none;}



	/* mobile navigation start */
	.nav-m-bar { position: absolute; top: 30px; right: 20px;}
	.nav-m-bar .menu-bars{ background:url(../images/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}

	.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color:transparent!important;}
	/* The side navigation menu */
	.nav-div {
		height: 100%; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 9999999; /* Stay on top */
		top: 0; /* Stay at the top */
		right: 0;
		background-color: #199bd7; /* Black*/
		overflow-x: hidden; /* Disable horizontal scroll */
		padding-top: 60px; /* Place content 60px from the top */
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	}

	/* Position and style the close button (top right corner) */
	.nav-div .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		margin-left: 50px; color:#fff; font-size:44px; font-weight:300;
	}
	.nav-div .closebtn:hover { color:#fdb413;}

	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#main {
		transition: margin-left .5s;
		padding: 20px;
	}



	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {
		.sidenav {padding-top: 15px;}
		.sidenav a {font-size: 18px;}

	}

	.nav li a { display: block; margin: 0 0 20px 0;}
	.nav li{ display: block; width: 100%; }
	.nav li a:hover { color:#023e59;}
	.nav li a.active { color:#023e59;}

	/* mobile navigation end */
	.quote-blk { margin: 20px 0 0 0; display: block; float:none; width: 100%; text-align: center;}
	.quote-blk .getquote-link{ color:#199bd7;  border: 1px solid #199bd7; width: 100%; text-align: center; display: block;}

	.sub-page-banner-div .page-title { margin: 30px 0 0 0; }
	.sub-page-banner-div .sub-page-banner { height: 120px;margin: 10px 0 0 0; }
	.grid-col4 { min-height: 500px!important; }
	
	.sitemap-section ul li{margin:10px 0; padding:0; position:relative; float: left;  width: 100%;display:inline-block;  line-height: 24px;}

	/* Add CSS By hasmat */

	

	/* End of CSS By hasmat */

}

@media only screen and (min-width: 320px) and (max-width: 480px) {



}
@media only screen and (min-width: 480px) and (max-width: 640px) {

}
/*
@media only screen and (min-width: 640px){
	.header-section .logodiv img { max-width:28%; }
}*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.container { width:100% !important;}
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}


	header { position: relative;}
	.desktop-hidden { display: block;}
	.m-hidden { display: none;}

	.jwg_slider_module { height: 320px; min-height:320px!important;}

	.intro-section { margin-top: 0px;}

	.intro-section .intro-img { margin: 20px 0; width: 100%;}
	.intro-section .values-div{ margin: 20px 0; width: 100%; top:0;position: relative;}
	.carry-trust-section .carry-trust-div .blk-1 p { padding:0;}
	.carry-trust-section .carry-trust-div .blk-2 .carry-trust-blk { width: 100%;}
	.carry-trust-section .contact-blk-div { width: 100%; position: relative;top: 0; right: 0;margin: 20px 0;background: #fff;}
	.trust-bg-img { position: relative;}

	.our-client-section .client-list-blk { text-align: center; margin: 0 0 40px 0;}

	.latest-news-section .latest-news-blk-div .news-blk { margin-bottom: 20px;}
	.footer-div .footer-call { margin: 20px 0; line-height: 24px;}

	.jwg_slider_module .tabbed_navigation { bottom:0!important; height: 45px;}
	.tabbed_nav .txt { display: none;}
	.jwg_slider_module .tabbed_navigation > ul li { margin: 0 20px!important;}
	.banner-caption { display: none;}




	/* mobile navigation start */
.nav-m-bar { position: absolute; top: 30px; right: 20px;}
.nav-m-bar .menu-bars{ background:url(../images/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color:transparent!important;}
 /* The side navigation menu */
.nav-div {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #199bd7; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.nav-div .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px; color:#fff; font-size:44px; font-weight:300;
}
.nav-div .closebtn:hover { color:#fdb413;}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}

}

.nav li a { display: block; margin: 0 0 20px 0;}
.nav li{ display: block; width: 100%; }
.nav li a:hover { color:#023e59;}
.nav li a.active { color:#023e59;}

/* mobile navigation end */
.quote-blk { margin: 0 20px; display: inline-block; text-align: center;}
.quote-blk .getquote-link{ color:#199bd7;  border: 1px solid #199bd7; text-align: center; display: inline-block;}
.sitemap-section ul li{margin:10px 10px 10px 0; padding:0; position:relative; float: left;  width: 47%;display:inline-block;  line-height: 24px;}

}


/* SVG Supports */
.attachment img[src$=".svg"],.widget_media_image img[src$=".svg"]{width:100%}.attachment img[src$=".svg"],.widget_media_image img[src$=".svg"]{width:100%}.attachment svg,.widget_media_image svg{max-width:100%;height:auto}

/* DEV CSS */

div#map {
    height: 500px;
}


div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    display: none !important;
}

div.wpcf7-mail-sent-ok {
    border: none;
    color: black;
}

.search-form .span.screen-reader-text {
    display: none;
}
/* search bar */

.search-form .screen-reader-text {display: none;}

.search-form  .search-new {
width: 100%;
font-size: 14px;
letter-spacing: 0.5px;
border-bottom: 1px solid #ddd;
padding: 10px 10px;
border-radius: 0px;
margin: 0 0 20px 0;
border: 1px solid #ddd;
height:38px;
}

.search-form .btn-search-new {
height: 38px;
position: absolute;
border: none;
font-size: 14px !important;
position: absolute;
right: 0;
outline: none !important;
background: #112758;
color: #fff;
padding: 0px 11px;
}

.btn-search-new .icon.icon-search {
    height: 14px;
    fill: #fff;
    width: 16px;
}

/* END search bar */
